<mat-card
  *ngFor="let job of listJob"
  style="width: 100%; margin: 8px 0; border: 1px solid black;"
>
  <mat-card-header>
    <mat-card-title>{{ job.name }}</mat-card-title>
    <mat-card-subtitle>{{ job.skill }}</mat-card-subtitle>
    <mat-card-subtitle>{{ job.description }}</mat-card-subtitle>
    <mat-card-subtitle>{{ job.level }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button mat-raised-button color="accent">LIKE</button>
    <button
      mat-button
      mat-raised-button
      color="warn"
      style="margin-left: 5px;"
      (click)="OpenDialog(job)"
    >
      Apply
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="listJob.length === 0" class="noJob">
  Sorry Company no Job
</div>
