<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        *ngIf="aPost.user.avatar; else notAvatar"
        style="width: 40px; height: 40px; border-radius: 50%;"
        src="http://localhost:3000/{{ aPost.user.avatar }}"
        alt=""
      />
      <ng-template #notAvatar>
        <div mat-card-avatar class="example-header-image"></div>
      </ng-template>
    </div>
    <mat-card-title style="text-transform: capitalize;">{{
      aPost.user.first_name
    }}</mat-card-title>
    <mat-card-subtitle>{{ aPost.created_at | date:'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    style="width:450px ; height: 250px;"
    src="http://localhost:3000/{{ aPost.thumbnail }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <h1 style="text-transform: capitalize; margin-top: 5px;">
      {{ aPost.title }}
    </h1>
  </mat-card-content>
  <div
    style="display: flex; justify-content: space-between; align-items: center; padding: 10px;"
  >
    <mat-chip-listbox
      class="mat-mdc-chip-set-stacked"
      aria-label="Color selection"
    >
      <mat-chip>
        {{ aPost.category.name }}
      </mat-chip>
    </mat-chip-listbox>
    <mat-card-actions *ngIf="check" align="end">
      <button mat-raised-button color="warn" (click)="Delete()">Delete</button>
      <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="Edit()">Edit</button>
    </mat-card-actions>
  </div>
</mat-card>
