<mat-toolbar color="primary">
  <button
    (click)="onMenuList()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div [matMenuTriggerFor]="userMenu" class="menuList">
    <div style="font-size: 15px;">Name</div>
    <img
      class="imageRound"
      src="https://scontent.fsgn20-1.fna.fbcdn.net/v/t39.30808-6/320742915_2453462804807706_2877161571267981659_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=bjYBoyerVKoAX8dG5w3&_nc_ht=scontent.fsgn20-1.fna&oh=00_AfCmBOzq3qVyQGzGUuv1dHTl25yJTX9MimR54dtfQbhqdA&oe=64ECD6F1"
      alt=""
    />
  </div>
  <div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings_applications</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="Logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
