<mat-toolbar color="primary">
  <button
    (click)="onMenuList()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div
    [matMenuTriggerFor]="userMenu"
    class="menuList"
    *ngIf="user; else dangnhap"
  >
    <div style="font-size: 15px; text-transform: uppercase;">{{ user.first_name }}</div>
    <img
      class="imageRound"
      src="http://localhost:3000/{{ user.avatar }}"
      alt=""
    />
  </div>
  <ng-template #dangnhap>
    <button mat-raised-button color="accent" (click)="Login()" style="margin-right: 5px;">Login</button>
    <button mat-raised-button color="accent" (click)="Register()">Register</button>
  </ng-template>
  <div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="Profile()">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="Logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
