.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  .header {
  }
  .img {
  }
  .content {
  }
}

.example-header-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBD6-6D40fkQQNQ7Jv-QNpS2RVuivkZIvLAw&usqp=CAU");
  background-size: cover;
}