.container {
  padding: 20px;
 
  .filter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .search-form-field {
      width: 400px;
    }
    .action{
      .btnCreate{
        margin-left: 10px;
      }
    }
  }
  table {
    width: 100%;
    
  }
}
.flex {
  display: flex;
}


