<app-header></app-header>
<div class="container">
  <div class="background">
    <div class="company">
      <img
        class="header__img"
        mat-card-sm-image
        src="http://localhost:3000/{{ company.logo }}"
      />
      <div class="header__card__name">
        <p>{{ company.name }}</p>
        <div style="font-size: 20px;">
          {{ company.description }}
        </div>
      </div>
    </div>
  </div>
  <div style="width: 50%">
    <app-job-card [listJob]="listJob"></app-job-card>
  </div>
</div>
