<app-header></app-header>
<div class="container">
  <div class="filter">
    <form
      action=""
      class="search"
      [formGroup]="PostSearch"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline" class="search-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" formControlName="search" />
      </mat-form-field>
    </form>
    <div>
      <mat-chip-listbox>
        <mat-chip-option
          (click)="onChipClick(category)"
          *ngFor="let category of categoryList"
          color="primary"
          [selected]="category.id === 0"
          >{{ category.name }}</mat-chip-option
        >
      </mat-chip-listbox>
    </div>
  </div>
  <div>
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile
        *ngFor="let post of postList"
        (click)="naviagate(post)"
        style="cursor: pointer;"
        ><app-card [aPost]="post"></app-card
      ></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
