<div class="container">
  <form
    class="formLogin"
    [formGroup]="upDateCategoryForm"
    (ngSubmit)="onSubmit()"
  >
    <p class="title">Update User</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="upDateCategoryForm.controls.name.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>description</mat-label>
        <input
          matInput
          placeholder="description"
          formControlName="description"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Status" formControlName="status" />
      </mat-form-field>
    </div>
    <div>
      <button
        aria-label="Show an example snack-bar"
        mat-raised-button
        color="primary"
      >
        Update
      </button>
    </div>
  </form>
</div>
